.recipes {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  margin-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  max-width: 438px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  margin: 80px auto 215px;
  padding: 0;
  box-sizing: border-box;
}

.recipes__video-item {
  display: flex;
  width: 100%;
  border: 0;
  justify-content: space-between;
  column-gap: 40px;
}

.recipes__video-iframe {
}

.recipes__iframe {
  width: 450px;
  height: 200px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  align-items: center;
}
